USE [WheelSheet]
GO
/****** Object:  Table [dbo].[WagonList]    Script Date: 22.05.2022 20:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WagonList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionInTrain] [int] NOT NULL,
	[CarNumber] [int] NOT NULL,
	[InvoiceNum] [nvarchar](200) NOT NULL,
	[LastOperationName] [nvarchar](300) NOT NULL,
	[WhenLastOperation] [datetime] NOT NULL,
	[FreightEtsngName] [nvarchar](200) NOT NULL,
	[FreightTotalWeightKg] [int] NOT NULL,
	[WagonSheet] [int] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_WagonList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WagonSheet]    Script Date: 22.05.2022 20:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WagonSheet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainNumber] [int] NOT NULL,
	[TrainIndexCombined] [nvarchar](200) NOT NULL,
	[ToStationName] [nvarchar](200) NOT NULL,
	[FromStationName] [nvarchar](200) NOT NULL,
	[LastStationName] [nvarchar](200) NOT NULL,
	[WagonNumber] [int] NULL,
	[OptimisticLockField] [int] NULL,
	[GCRecord] [int] NULL,
 CONSTRAINT [PK_WagonSheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XPObjectType]    Script Date: 22.05.2022 20:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XPObjectType](
	[OID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TypeName] [nvarchar](254) NULL,
	[AssemblyName] [nvarchar](254) NULL,
 CONSTRAINT [PK_XPObjectType] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WagonList] ON 

INSERT [dbo].[WagonList] ([Id], [PositionInTrain], [CarNumber], [InvoiceNum], [LastOperationName], [WhenLastOperation], [FreightEtsngName], [FreightTotalWeightKg], [WagonSheet], [OptimisticLockField], [GCRecord]) VALUES (1001, 33, 63731863, N'ЭЛ598121', N'ОТПРАВЛЕНИЕ  ВАГОНА В СОСТАВЕ ПОЕЗДА СО СТАНЦИИ', CAST(N'2019-06-30T14:07:00.000' AS DateTime), N'УГОЛЬ КАМЕННЫЙ МАРКИ Т-ТОЩИЙ', 74700, 1, NULL, NULL)
INSERT [dbo].[WagonList] ([Id], [PositionInTrain], [CarNumber], [InvoiceNum], [LastOperationName], [WhenLastOperation], [FreightEtsngName], [FreightTotalWeightKg], [WagonSheet], [OptimisticLockField], [GCRecord]) VALUES (1002, 16, 63713465, N'ЭЛ635046', N'ПРИБЫТИЕ ВАГОНА В СОСТАВЕ  ПОЕЗДА НА СТАНЦИЮ', CAST(N'2019-06-30T14:49:00.000' AS DateTime), N'УГОЛЬ КАМЕННЫЙ МАРКИ Т-ТОЩИЙ', 74700, 2, NULL, NULL)
INSERT [dbo].[WagonList] ([Id], [PositionInTrain], [CarNumber], [InvoiceNum], [LastOperationName], [WhenLastOperation], [FreightEtsngName], [FreightTotalWeightKg], [WagonSheet], [OptimisticLockField], [GCRecord]) VALUES (1003, 23, 63678486, N'ЭЛ305719', N'ОТПРАВЛЕНИЕ  ВАГОНА В СОСТАВЕ ПОЕЗДА СО СТАНЦИИ', CAST(N'2019-06-30T14:35:00.000' AS DateTime), N'УГОЛЬ КАМЕННЫЙ МАРКИ Т-ТОЩИЙ', 74950, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[WagonList] OFF
GO
SET IDENTITY_INSERT [dbo].[WagonSheet] ON 

INSERT [dbo].[WagonSheet] ([Id], [TrainNumber], [TrainIndexCombined], [ToStationName], [FromStationName], [LastStationName], [WagonNumber], [OptimisticLockField], [GCRecord]) VALUES (1, 2236, N'86560-725-98470', N'НАХОДКА (ЭКСП.)', N'САРБАЛА', N'ЧЕРНОРЕЧЕНСКАЯ', NULL, NULL, NULL)
INSERT [dbo].[WagonSheet] ([Id], [TrainNumber], [TrainIndexCombined], [ToStationName], [FromStationName], [LastStationName], [WagonNumber], [OptimisticLockField], [GCRecord]) VALUES (2, 2168, N'86560-925-98570', N'МЫС АСТАФЬЕВА (ЭКСП.)', N'САРБАЛА', N'КИРБА', NULL, NULL, NULL)
INSERT [dbo].[WagonSheet] ([Id], [TrainNumber], [TrainIndexCombined], [ToStationName], [FromStationName], [LastStationName], [WagonNumber], [OptimisticLockField], [GCRecord]) VALUES (3, 2226, N'86380-177-98570', N'МЫС АСТАФЬЕВА (ЭКСП.)', N'ЧЕРКАСОВ КАМЕНЬ', N'НОВАЯ', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WagonSheet] OFF
GO
ALTER TABLE [dbo].[WagonList]  WITH NOCHECK ADD  CONSTRAINT [FK_WagonList_WagonSheet] FOREIGN KEY([WagonSheet])
REFERENCES [dbo].[WagonSheet] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[WagonList] CHECK CONSTRAINT [FK_WagonList_WagonSheet]
GO
